@model ATMApi.Models.Bank

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<center><h2><b>Details</b></h2></center>
<br />
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" value="@Model.name" disabled />
                    </div>
                </div>
            </form>
            <div>
                @Html.ActionLink("Back to List", "Index", null, new { id = "bank" })
            </div>
            <script src="~/Scripts/jquery-1.10.2.js"></script>
            <script>
                $(document).ready(function () {
                    $("#bank").click(function () {
                        var token = localStorage.getItem("accessToken");
                        var formAction = $(this).attr('href');
                        $(this).attr('href', formAction + "?token=" + token);
                    });

                });
            </script>
